<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learning Log</title>

	<script src="https://cdn.tailwindcss.com"></script>

	<style>
		input[type=text], 
		input[type=password], 
		textarea {
			color: #242424 !important;
			border-radius: 4px !important;
			outline: 0 !important;
			padding: 6px !important;
			font-size: 0.85rem !important;
		}

		button {
			font-size: 0.85rem !important;
		}
	</style>
</head>

<body class="bg-slate-800 text-white flex flex-col justify-between">
	<div class="flex flex-col h-screen justify-between">
		<header class="bg-pink-700 text-white w-full h-12 flex items-center justify-between px-6">
			<a href="{% url 'index' %}" class="font-bold">
				<h1>LEARNING LOG</h1>
			</a>

			<div class="flex gap-8">
				{% if user.is_authenticated %}
					<a href="{% url 'topics' %}" class="hover:opacity-80">Tópicos</a>

					Olá, {{user.username}}!

					<a href="{% url 'logout' %}" class="hover:opacity-80">Sair</a>

				{% else %}
				
					<a href="{% url 'register' %}" class="hover:opacity-80">Registrar</a>

					<a href="{% url 'login' %}" class="hover:opacity-80">Entrar</a>
				{% endif %}
			</div>
		</header>

		<main class="mb-auto h-full px-6 py-4">
			{% block content %}{% endblock content %}
		</main>

		<footer class="bg-pink-700 text-white w-full h-20 flex items-center justify-center">
			<h2>FOOTER</h2>
		</footer>
	</div>
</body>

</html>